<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mogu.GEMAKER.dao.mapper.ProductDoMapper" >

    <resultMap id="BaseResultMap" type="com.mogu.GEMAKER.entity.ProductDo" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="name" property="name" jdbcType="VARCHAR" />
    </resultMap>


    <insert id="save" parameterType="com.mogu.GEMAKER.entity.ProductDo" >
        <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into tbl_product
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="name != null" >
                `name`,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="name != null" >
                #{name,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>


    <delete id="delete" parameterType="com.mogu.GEMAKER.entity.ProductDo">
        DELETE  FROM tbl_product where id = #{id,jdbcType=INTEGER}
    </delete>

    <update id="update" parameterType="com.mogu.GEMAKER.entity.ProductDo">
        update tbl_product
        <set >
            <if test="name != null" >
                `name` = #{name}
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
    
    <select id="get" resultMap="BaseResultMap">
        select * from tbl_product WHERE  id = #{id,jdbcType=INTEGER}
    </select>

</mapper>